:root {
  --nv-color-gray-flat-10: '';
  --nv-color-gray-flat-20: '';
  --nv-color-gray-flat-30: '';
  --nv-color-gray-flat-40: '';
  --nv-color-gray-flat-50: '';
  --nv-color-gray-flat-60: '';
  --nv-color-gray-flat-70: '';
  --nv-color-gray-flat-80: '';
  --nv-color-gray-flat-90: '';
  --nv-color-gray-flat-100: '';
  --nv-color-gray-flat-110: '';
  --nv-color-gray-flat-120: '';
  --nv-color-gray-flat-130: '';
}
