:root {
  --nv-color-gray-neutral-10: '';
  --nv-color-gray-neutral-20: '';
  --nv-color-gray-neutral-30: '';
  --nv-color-gray-neutral-40: '';
  --nv-color-gray-neutral-50: '';
  --nv-color-gray-neutral-60: '';
  --nv-color-gray-neutral-70: '';
  --nv-color-gray-neutral-80: '';
  --nv-color-gray-neutral-90: '';
  --nv-color-gray-neutral-100: '';
  --nv-color-gray-neutral-110: '';
  --nv-color-gray-neutral-120: '';
  --nv-color-gray-neutral-130: '';
}
