:root {
  --nv-color-red-10: '';
  --nv-color-red-20: '';
  --nv-color-red-30: '';
  --nv-color-red-40: '';
  --nv-color-red-50: '';
  --nv-color-red-60: '';
  --nv-color-red-70: '';
  --nv-color-red-80: '';
  --nv-color-red-90: '';
  --nv-color-red-100: '';
  --nv-color-red-110: '';
  --nv-color-red-120: '';
  --nv-color-red-130: '';
}
