:root {
  --nv-color-white-10: #fff;
  --nv-color-white-20: #fff;
  --nv-color-white-30: #fff;
  --nv-color-white-40: #fff;
  --nv-color-white-50: #fff;
  --nv-color-white-60: #fff;
  --nv-color-white-70: #fff;
  --nv-color-white-80: #fff;
  --nv-color-white-90: #fff;
  --nv-color-white-100: #fff;
  --nv-color-white-110: #fff;
  --nv-color-white-120: #fff;
  --nv-color-white-130: #fff;
}
