:root {
  --nv-color-gray-neutral-10: "";
  --nv-color-gray-neutral-20: "";
  --nv-color-gray-neutral-30: #f1f1f1;
  --nv-color-gray-neutral-40: "";
  --nv-color-gray-neutral-50: #e6e6e6;
  --nv-color-gray-neutral-60: "";
  --nv-color-gray-neutral-70: #c9c9cc;
  --nv-color-gray-neutral-80: "";
  --nv-color-gray-neutral-90: "";
  --nv-color-gray-neutral-100: "";
  --nv-color-gray-neutral-110: "";
  --nv-color-gray-neutral-120: "";
  --nv-color-gray-neutral-130: "";
}
