/* --nv-brand-{proprtyNmae} */

:root {
  --nv-brand-color-90: var(--nv-color-blue-90);
  --nv-brand-color-100: var(--nv-color-blue-100);
  --nv-brand-color-text: "";
  /* --nv-color-focus-outline: #4299e14c;
  --nv-button-background: red; */
}
