:root {
  --nv-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --nv-font-weight-light: 300;
  --nv-font-weight-regular: 400;
  --nv-font-weight-medium: 500;
  --nv-font-weight-semibold: 600;
  --nv-font-weight-bold: 700;
}
